alias ls='ls -GFh'
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias flushdns='sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder'
alias composer='~/.composer/composer.phar'
alias glog="git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias git_del_merged='git branch --merged | egrep -v "(^\*|master|develop)" | xargs git branch -d'
