alias ls='ls -GFh'
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
alias flushdns='sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder'
alias composer='~/.composer/composer.phar'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# git aliases
alias git="LANG=en_GB git"
alias glog="git log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
alias git_del_merged='git branch --merged | egrep -v "(^\*|master|develop)" | xargs git branch -d'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

alias medis="cd /Users/Oden/projects/medis/ ; npm run start > /dev/null &"
alias eclipse="/Applications/Eclipse.app/Contents/MacOS/eclipse -vm /Library/Java/JavaVirtualMachines/openjdk-13.jdk/Contents/Home/lib"


alias ci="composer install"
alias cu="composer update"
alias hs="hub sync"
alias gc="git checkout"
alias grh="git reset --hard HEAD"
alias c="code"
alias st="stree ."

alias difff="meld --diff"
alias grep="grep --color=auto"

