[user]
	name = Vaios Karampinis
	email = oden@oden.gr
[github]
	user = vkarampinis
[core]
	excludesfile = /Users/oden/.gitignore_global
	preloadindex = true
	fscache = true
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "branch"]
	local = yellow
	remote = green
	current = cyan
[difftool "sourcetree"]
	cmd = "code --wait --diff $LOCAL $REMOTE "
	path = 
[mergetool "sourcetree"]
	cmd = "code --wait $MERGED "
	trustExitCode = true
[gc]
	auto = 256
[push]
	default = simple
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
